﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Let's be real. You gave up all rights to privacy the instant you joined Facebook. So why complain to me!?!?</p>
<p>Your best hope of not having your identity stolen and reputation ruined is to avoid calling attention
    to yourself by not doing or saying anything remotely interesting. Fortunately, you are an extremely dull
    person. Our experts describe you as an appallingly dull fellow, unimaginative, timid, spineless, no sense
    of humor, tedious company, and irrepressibly drab and awful.
</p>
